<ion-content class="background">
  <!-- <img src="/assets/imgs/logo.png" class="logo_position" /> -->
  <img src="/assets/imgs/logo.png" class="logo_position" />

  <div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <!-- <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div> -->
  </div>

  <h4 id="textLogin">Login</h4>

  <form [formGroup]="loginForm" class="padd">
    <ion-item no-lines>
      <ion-input
        type="text"
        placeholder="Email"
        formControlName="email"
        name="email"
        autocomplete="off"
        [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)"
      ></ion-input>
    </ion-item>
    <p
      *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || submitAttempt)"
    >
      <b style="color: rgb(255, 5, 5)">Please enter a valid email</b>
    </p>
    <br />

    <ion-item no-lines *ngIf="showpassword">
      <ion-input
        type="text"
        placeholder="Password"
        formControlName="password"
        name="password"
        [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"
      >
      </ion-input>
      <button
        ion-button
        clear
        color="dark"
        item-right
        (tap)="togglePasswordText()"
        id="stle2"
      >
        <ion-icon name="eye-off"> </ion-icon>
      </button>
    </ion-item>

    <ion-item no-lines *ngIf="!showpassword">
      <ion-input
        type="password"
        placeholder="Password"
        formControlName="password"
        name="password"
        [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"
      >
      </ion-input>
      <button
        ion-button
        clear
        color="dark"
        item-right
        (tap)="togglePasswordText()"
        id="stle2"
      >
        <ion-icon name="eye"> </ion-icon>
      </button>
    </ion-item>

    <p class="pad">
      <ion-buttons>
        <button
          ion-button
          color="dark"
          icon-end
          (tap)="login()"
          class="button button-dark customBtn"
        >
          Login <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
      <!-- <button ion-button round color="primary" (tap)="login()">Login</button> -->
    </p>
    <br />

    <br />
    <p class="pad">
      <b style="color: rgb(0, 0, 0)">
        <a tappable (tap)="reset()" style="color: rgb(0, 0, 0)"
          >Forgot Password?</a
        >
      </b>
    </p>

    <br />

    <p class="pad">
      <b style="color: rgb(0, 0, 0)">
        <p style="color: blawhiteck">
          Don't have an account ?
          <a tappable (tap)="signup()" style="color: #c31a1a">Sign Up </a>
        </p>
      </b>
    </p>
  </form>
</ion-content>

<ion-footer>
  <p class="pad">
    <b class="font-style">
      <p>
        Having an issues? Contact us on

        <span style="color: #c31a1a">0202611222 </span>
      </p>
    </b>
  </p>
</ion-footer>
