<ion-content class="main-view">
  <div class="overlay" (click)="closeModal()"></div>
  <ion-scroll class="modal_content" scrollY="true">
    <!--<div class="modal_content">-->
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <br />
    <br />
    <br />

    <ion-card-content>
      <ion-card>
        <ion-item>
          <p class="position" style="color: black;">Home Care History</p>
        </ion-item>

        <!-- <form [formGroup]="referpatientForm"> -->

        <ion-list
          *ngIf="general_homecare?.length > 0; else general_medicationfalse"
        >
          <ion-item *ngFor="let general_homecare of general_homecare">
            <br />
            <table text-wrap>
              <tbody text-wrap>
                <!-- <tr><th scope="row">No.</th><td>1</td></tr> -->
                <tr>
                  <th scope="row">Client Name</th>
                  <td>
                    {{general_homecare.surname}}
                    {{general_homecare.other_names}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Client Contact</th>
                  <td>{{general_homecare.contact}}</td>
                </tr>
                <tr>
                  <th scope="row">Request Type</th>
                  <td>{{general_homecare.category}}</td>
                </tr>
                <tr *ngIf="general_homecare.category == 'Beneficiary'">
                  <th scope="row">Beneficiary Name</th>
                  <td>{{general_homecare.beneficiary_name}}</td>
                </tr>
                <tr *ngIf="general_homecare.category == 'Beneficiary'">
                  <th scope="row">Beneficiary's Age</th>
                  <td>{{general_homecare.beneficiary_age}}</td>
                </tr>
                <tr *ngIf="general_homecare.category == 'Beneficiary'">
                  <th scope="row">Beneficiary's Sex</th>
                  <td>{{general_homecare.beneficiary_gender}}</td>
                </tr>
                <tr *ngIf="general_homecare.category == 'Beneficiary'">
                  <th scope="row">Beneficiary's Phone No.</th>
                  <td>{{general_homecare.beneficiary_phone_number}}</td>
                </tr>
                <tr>
                  <th scope="row">Request Urgency</th>
                  <td>{{general_homecare.urgency}}</td>
                </tr>
                <tr>
                  <th scope="row">Appt Type</th>
                  <td>{{general_homecare.appointment_type}}</td>
                </tr>
                <tr>
                  <th scope="row">Medications</th>
                  <td>{{general_homecare.medication | removehtmltags}}</td>
                </tr>
                <tr>
                  <th scope="row">Previous Medical History</th>
                  <td>
                    {{general_homecare.prev_medical_history | removehtmltags}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Allergies</th>
                  <td>{{general_homecare.allergies | removehtmltags}}</td>
                </tr>
                <tr>
                  <th scope="row">Date/Time</th>
                  <td>
                    {{general_homecare.confirmed_date | date: 'yyyy-MM-dd h:mm
                    a' }}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Accept Status</th>
                  <td *ngIf="general_homecare.accepted_status == true;">
                    Accepted
                  </td>
                  <td *ngIf="general_homecare.accepted_status == false;">
                    Not Accepted
                  </td>
                </tr>
                <tr>
                  <th scope="row">Attend Status</th>
                  <td *ngIf="general_homecare.attended_to == true;">
                    Attended to
                  </td>
                  <td *ngIf="general_homecare.attended_to == false;">
                    Unattended to
                  </td>
                </tr>
              </tbody>
            </table>

            <div padding style="text-align: center;">
              <button
                *ngIf="general_homecare.paid && general_homecare.paid == true"
                ion-button
                class="small_button"
                color="green1"
                round
                type="submit"
                (click)="attend_to(general_homecare.id)"
              >
                Attend to</button
              ><br />
              <button
                *ngIf="!general_homecare.paid || general_homecare.paid == false"
                ion-button
                class="small_button deepash1"
                color="deepash"
                round
                type="submit"
              >
                Pending Payment
              </button>
            </div>

            <div padding style="text-align: center;">
              <button
                ion-button
                color="primary"
                class="button-bottom1"
                (tap)="closeModal()"
              >
                Back
              </button>
            </div>
          </ion-item>
        </ion-list>

        <ng-template #general_medicationfalse>
          <ion-list>
            <ion-item>
              <br />
              <p style="text-align: center;">
                Sorry you do not have any appointment
              </p>
            </ion-item>
          </ion-list>
        </ng-template>

        <!-- </form> -->
      </ion-card>
    </ion-card-content>
  </ion-scroll>
</ion-content>
