page-location {
  .background {
    background-image: url("../assets/icon/green_background_image.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align: center;
  }

  .center {
    color: white;
    text-align: center;
  }

  .item-block {
    margin: 0;
    padding: 0;
    text-align: initial;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 80%;
    min-height: 4.4rem;
    border: 1;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    color: inherit;
    text-align: center;
    margin-left: 10%;
  }

  ion-input,
  ion-textarea {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    // border: 2px solid #000000;
    border-radius: 6px;
    background-color: transparent;
  }

  .item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    // background-color: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 97% !important;
    height: 100%;
    // border: 2px solid #000000 !important;
    border-radius: 6px !important;
    background-color: transparent !important;
    margin-left: 3% !important;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus)
    .item-inner {
    border-bottom-color: rgba(223, 13, 13, 0) !important;
    box-shadow: inset 0 -1px 0 0 #0000 !important;
  }

  .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid transparent !important;
  }

  .button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 78% !important;
  }

  .select-md .select-placeholder {
    color: #0000;
    z-index: 122 !important;
  }

  .datetime-md .datetime-placeholder {
    color: #0000;
    z-index: 122 !important;
  }

  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: #000 !important;
  }

  .label-md,
  .item-datetime .label-md {
    color: #0000;
    z-index: 122 !important;
  }

  .label-md {
    margin: 13px 153px 13px 0 !important;
  }

  .back_color {
    background-color: #92d36e;

    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align: center;
  }

  ion-modal {
    .modal-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 50%;
      height: 50%;
    }
  }

  .card {
    padding-top: 15%;
    // background-color: #789527;
    // background-color: #ece7e7;
  }

  .pad {
    text-align: center;
  }

  .trans {
    background-color: #ece7e7;
  }
}
