page-momopayment {
    .pad{
        text-align:center;    
    } 

    .padd{
      padding-top: 85%;   
    }

    .background{

        // background-image: url("../assets/icon/backs.png"); 
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
        text-align:center;

    }

}
