<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle (click)="openMenu()">
      <ion-icon name="keypad"></ion-icon>
    </button> -->

    <ion-title> Profile </ion-title>
    <!-- 
    <ion-buttons end class="margin" tappable (tap)="home()">
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content class="ash">
  <div class="img-circular"></div>
  <br />

  <ion-list>
    <p class="down1">{{first_name}} {{surname}}</p>
  </ion-list>

  <ion-item *ngIf="user_type == 'C'" no-lines>
    <ion-item no-lines>
      <ion-row class="container">
        <ion-col col-9>
          <h2 style="color: #5dba47; font-weight: bolder">Profile Details</h2>
          <ion-item no-lines>
            <p class="font_style" text-wrap>Email : {{email}}</p></ion-item
          >
          <ion-item no-lines>
            <p class="font_style" text-wrap>
              Fullname: {{first_name}} {{surname}}
            </p></ion-item
          >
          <ion-item no-lines>
            <p class="font_style" text-wrap>
              Mobile Number: {{phone}}
            </p></ion-item
          >
          <ion-item no-lines>
            <p class="font_style" text-wrap>Email: {{email}}</p></ion-item
          >
        </ion-col>
        <ion-col col-3>
          <button ion-button color="secondary" outline (tap)="edit()">
            Edit
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-item>

  <ion-item *ngIf="user_type == 'D' || user_type == 'N'" no-lines>
    <ion-item no-lines>
      <ion-row class="container">
        <ion-col col-9>
          <h2 style="color: #5dba47; font-weight: bolder">Profile Details</h2>
          <ion-item>
            <p class="font_style" text-wrap>Email : {{email}}</p></ion-item
          >
          <ion-item>
            <p class="font_style" text-wrap>
              Fullname: {{first_name}} {{surname}}
            </p></ion-item
          >
          <ion-item>
            <p class="font_style" text-wrap>
              Mobile Number: {{phone}}
            </p></ion-item
          >
          <!-- <ion-item>
            <p class="font_style" text-wrap>Email: {{email}}</p></ion-item
          > -->
        </ion-col>
        <ion-col col-3>
          <button ion-button color="secondary" outline (tap)="edit()">
            Edit
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-item>
</ion-content>
