page-lab-search {
  .background {
    /* height: 185px; */
    color: white;
    background: linear-gradient(138deg, #ffffff, #ffffff9c),
      url(/assets/icon/G8.png);
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  .BigText {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.1px;
    line-height: 30px;
    margin-bottom: 2px;
    margin-top: 0.5rem;
  }

  .aliText {
    margin-top: 10%;
    text-align: center;
  }

  .direct_service_row2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    width: 100%;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0%;
    margin-bottom: 5%;
    height: 340px;
  }

  .c3 {
    width: 95%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-top: 5%;
    background-color: #ffffff;
    text-align: center;
    border-radius: 8px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 280px;
  }

  .padd {
    margin-top: 5%;
  }

  .item-md {
    background-color: #ffffff73 !important;
  }
}
