<ion-header>

  <ion-navbar>
    <ion-title text-wrap>Personal Doctor Digital Prescription!</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

 

  <ion-buttons end>
      <button ion-button full color="primary" (click)="openNewAppointment()" icon-only>
          New Prescription <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  <ion-list *ngIf="personaldoctorprescription_details?.length > 0">
    <ion-item *ngFor="let personaldoctorprescription_detail of personaldoctorprescription_details">
      <ion-grid>
        <ion-row>
          <!-- <ion-col col-2>
           <strong>1</strong>
          </ion-col> -->
          <ion-col col-8>
            <h2>{{personaldoctorprescription_detail.created_at | date: 'medium' }}</h2>
            <strong>
              <p *ngIf="personaldoctorprescription_detail.confirm_status == true; else confirmstatusfalse">
                Confirmed
              </p></strong>
            <ng-template #confirmstatusfalse>
              <strong>Not Confirmed</strong>
            </ng-template>
          </ion-col>
          <ion-col col-2>
            <button ion-button  class="small_button" color="green1" round type="submit" (click)="personal_doctor_prescription_history_details(personaldoctorprescription_detail.id,this.appointmentType)">Details</button>

            <br>
            <button *ngIf="personaldoctorprescription_detail.billing_info_bill_items_info_id && !personaldoctorprescription_detail.paid" ion-button  class="small_button" color="blue" round type="submit" (click)="bill(personaldoctorprescription_detail)">Bill Info</button>
            <!-- <button *ngIf="personaldoctorprescription_detail.billing_info_bill_items_info_id && !personaldoctorprescription_detail.paid && personaldoctorprescription_detail.approval_status == true" ion-button  class="small_button" color="blue" round type="submit" (click)="bill(personaldoctorprescription_detail)">Bill Info</button> -->
            <button *ngIf="personaldoctorprescription_detail.billing_info_bill_items_info_id && personaldoctorprescription_detail.approval_status == false" ion-button
            class="medium_button" color="deepash" round type="submit" (click)="bill(personaldoctorprescription_detail)">Rejected<br>Bill</button>
            <button *ngIf="personaldoctorprescription_detail.billing_info_bill_items_info_id && personaldoctorprescription_detail.paid== true" ion-button  class="small_button" color="dullyellow" round type="submit" (click)="bill(personaldoctorprescription_detail)">Paid</button>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
