page-reports {
  ion-card.card {
    // box-shadow: none;
    // background:none;
    border-radius: 5px;
    padding-left: 10px;
    //  border-color: #789527;
    box-shadow: #789527;
    border-top: 3px solid #789527;
  }
}
