<ion-header>
  <ion-navbar>
    <ion-title>Book Covid</ion-title>
    <ion-buttons end class="margin" tappable (tap)="home()">
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true" class="background">
  <p>
    <b style="color: black; text-align: center" text-wrap>Book For Covid</b>
  </p>

  <form [formGroup]="subscriptionForm">
    <ion-list>
      <!-- ENDS --BENEFICIARY FOR SINGLE SUBSCRIPTIONS--ENDS -->

      <ion-item
        class="height"
        *ngIf="subscriptionForm.controls.beneficiary.value =='Beneficiary' "
      >
        <ion-label floating> Email</ion-label>
        <ion-textarea
          lineHeight="22"
          formControlName="email"
          name="email"
          [class.invalid]="!subscriptionForm.controls.email.valid && (subscriptionForm.controls.email.dirty || submitAttempt)"
        ></ion-textarea>
      </ion-item>

      <!--END ---BENEFICIARY NAMES ONLY --END-->

      <!--SELF NAMES ONLY -->
      <ion-item
        class="height"
        *ngIf="subscriptionForm.controls.beneficiary.value =='Self' "
      >
        <ion-label floating> First Name*</ion-label>
        <ion-input
          formControlName="f_name"
          name="f_name"
          value="{{user_first_name}}"
          readonly="true"
          [class.invalid]="!subscriptionForm.controls.f_name.valid && (subscriptionForm.controls.f_name.dirty || submitAttempt)"
        ></ion-input>
      </ion-item>

      <ion-item
        class="height"
        *ngIf="subscriptionForm.controls.beneficiary.value =='Self' "
      >
        <ion-label floating> Last Name*</ion-label>
        <ion-textarea
          lineHeight="22"
          formControlName="last_name"
          name="last_name"
          value="{{user_last_name}}"
          readonly="true"
          [class.invalid]="!subscriptionForm.controls.last_name.valid && (subscriptionForm.controls.last_name.dirty || submitAttempt)"
        ></ion-textarea>
      </ion-item>

      <ion-item
        class="height"
        *ngIf="subscriptionForm.controls.beneficiary.value =='Self' "
      >
        <ion-label floating> Phone Number*</ion-label>
        <ion-input
          lineHeight="22"
          formControlName="phone_number"
          name="phone_number"
          value="{{user_phone}}"
          readonly="true"
          [class.invalid]="!subscriptionForm.controls.phone_number.valid && (subscriptionForm.controls.phone_number.dirty || submitAttempt)"
        ></ion-input>
      </ion-item>

      <ion-item
        class="height"
        *ngIf="subscriptionForm.controls.beneficiary.value =='Self' "
      >
        <ion-label floating> Email</ion-label>
        <ion-textarea
          lineHeight="22"
          formControlName="email"
          name="email"
          value="{{user_email}}"
          readonly="true"
          [class.invalid]="!subscriptionForm.controls.email.valid && (subscriptionForm.controls.email.dirty || submitAttempt)"
        ></ion-textarea>
      </ion-item>

      <ion-item class="height">
        <ion-label floating>Emergency Email</ion-label>
        <ion-textarea
          lineHeight="22"
          formControlName="emergency_email"
          name="emergency_email"
          [class.invalid]="!subscriptionForm.controls.emergency_email.valid && (subscriptionForm.controls.emergency_email.dirty || submitAttempt)"
        ></ion-textarea>
      </ion-item>

      <ion-item class="height">
        <ion-label floating>Emergency Address</ion-label>
        <ion-textarea
          lineHeight="22"
          formControlName="emergency_address"
          name="emergency_address"
          [class.invalid]="!subscriptionForm.controls.emergency_address.valid && (subscriptionForm.controls.emergency_address.dirty || submitAttempt)"
        ></ion-textarea>
      </ion-item>

      <p class="pad" style="text-align: center">
        <button
          ion-button
          color="green1"
          class="submitbtn"
          [disabled]="!this.subscriptionForm.valid"
          (tap)="book_subscription()"
          style="
            text-align: center;
            border-radius: 60px;
            height: 40px;
            width: 90%;
          "
        >
          Submit
        </button>
      </p>
    </ion-list>
  </form>
</ion-content>
