page-payment-history {

    .button.customBtn{
        width: 100%;
    
    }

    .center1{
        text-align: center;
       padding-top: 30%

    }

    .textstyle{
        color: black;
        text-align: center;
        padding-top: 30%
    } 

}
