<ion-header>
  <ion-navbar>
    <ion-title>Lab Details!</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!--<h2>Add User</h2>-->
  <form>
    <!-- <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Location</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.location}}</ion-label>
    </ion-item> -->
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Request Category : </b></ion-label>
      <ion-label col-7
        >{{currentlabappointmentdetaildata.requestcategory}}</ion-label
      >
    </ion-item>
    <ion-item
      text-wrap
      class="text-left"
      *ngIf="currentlabappointmentdetaildata.requestcategory =='Beneficiary'"
    >
      <ion-label col-5><b>Beneficiary : </b></ion-label>
      <ion-label col-7
        >{{currentlabappointmentdetaildata.beneficiary}}</ion-label
      >
    </ion-item>
    <ion-item
      text-wrap
      class="text-left"
      *ngIf="currentlabappointmentdetaildata.requestcategory =='Beneficiary'"
    >
      <ion-label col-5><b>Beneficiary Sex : </b></ion-label>
      <ion-label col-7
        >{{currentlabappointmentdetaildata.beneficiary_gender}}</ion-label
      >
    </ion-item>
    <ion-item
      text-wrap
      class="text-left"
      *ngIf="currentlabappointmentdetaildata.requestcategory =='Beneficiary'"
    >
      <ion-label col-5><b>Beneficiary Age : </b></ion-label>
      <ion-label col-7
        >{{currentlabappointmentdetaildata.beneficiary_age}}</ion-label
      >
    </ion-item>
    <ion-item
      text-wrap
      class="text-left"
      *ngIf="currentlabappointmentdetaildata.requestcategory =='Beneficiary'"
    >
      <ion-label col-5><b>Beneficiary Number : </b></ion-label>
      <ion-label col-7
        >{{currentlabappointmentdetaildata.beneficiary_phone_number}}</ion-label
      >
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Request Urgency : </b></ion-label>
      <ion-label col-7
        >{{currentlabappointmentdetaildata.requesturgency}}</ion-label
      >
    </ion-item>
    <ion-item
      text-wrap
      class="text-left"
      *ngIf="!currentlabappointmentdetaildata.confirmed_date"
    >
      <ion-label col-5><b>Proposed date and time: </b></ion-label>
      <ion-label col-7
        >{{currentlabappointmentdetaildata.proposeddateandtime | date:
        'yyyy-MM-dd h:mm a' }}</ion-label
      >
    </ion-item>
    <ion-item
      text-wrap
      class="text-left"
      *ngIf="currentlabappointmentdetaildata.confirmed_date"
    >
      <ion-label col-5><b>Confirmed date and time: </b></ion-label>
      <ion-label col-7
        >{{currentlabappointmentdetaildata.confirmed_date | date: 'yyyy-MM-dd
        h:mm a' }}</ion-label
      >
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Previous medical history : </b></ion-label>
      <ion-label col-7
        >{{currentlabappointmentdetaildata.prevmedicalhistory |
        removehtmltags}}</ion-label
      >
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Test List : </b></ion-label>

      <ion-label col-7
        >{{currentlabappointmentdetaildata.test_list |
        removehtmltags}}</ion-label
      >
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Allergies : </b></ion-label>
      <ion-label col-7
        >{{currentlabappointmentdetaildata.allergies |
        removehtmltags}}</ion-label
      >
    </ion-item>

    <!-- <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Confirm Status : </b></ion-label>
      <ion-label col-7
        >{{currentlabappointmentdetaildata.confirmstatus}}</ion-label
      >
    </ion-item> -->
    <br />

    <ion-list>
      <p style="text-align: center; color: #d82929">
        CONFIRMED APPOINTMENT DETAILS
      </p>
      <ion-item text-wrap class="text-left">
        <ion-label col-5><b>Suburb Name: </b></ion-label>
        <ion-label col-7>{{suburb_name }}</ion-label>
      </ion-item>

      <ion-item text-wrap class="text-left">
        <ion-label col-5><b>Complaints: </b></ion-label>
        <ion-label col-7>{{complaint_desc | removehtmltags}}</ion-label>
      </ion-item>

      <ion-item text-wrap class="text-left">
        <ion-label col-5><b>Comments: </b></ion-label>
        <ion-label col-7>{{comment | removehtmltags}}</ion-label>
      </ion-item>

      <ion-item text-wrap class="text-left">
        <ion-label col-5><b>Confirmed Date: </b></ion-label>
        <ion-label col-7
          >{{confirmed_date | date: 'yyyy-MM-dd h:mm a' }}</ion-label
        >
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item text-wrap class="text-left" no-lines>
        <ion-label col-5><b>Labs confirmed: </b></ion-label>
      </ion-item>
      <ion-item
        text-wrap
        class="text-left"
        *ngFor="let patientdetails of confirmed_details"
      >
        <ion-label col-7>{{patientdetails.title | removehtmltags}}</ion-label>
      </ion-item>
    </ion-list>

    <br />
    <div padding style="text-align: center">
      <button
        ion-button
        round
        color="green1"
        class="button-bottom1"
        *ngIf="currentlabappointmentdetaildata.image_name"
        (tap)="show_appointment_image(currentlabappointmentdetaildata)"
      >
        View Lab Test Image
      </button>
    </div>
    <!-- <button ion-button round color="green1" type="submit"  style="text-align: center;">View Lab Test Image</button> -->
  </form>
</ion-content>
