<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="keypad"></ion-icon>
    </button> -->
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <!-- <ion-slides loop="true" speed="2000">
      <ion-slide> -->
  <ion-segment [(ngModel)]="overall_list" overflow-scroll="true">
    <ion-segment-button class="segment-button" value="Overall">
      Medication
    </ion-segment-button>
    <ion-segment-button value="Medical"> Medical Appt </ion-segment-button>
    <ion-segment-button value="Lab"> Lab </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="overall_list">
    <ion-list *ngSwitchCase="'Overall'" overflow-scroll="true">
      <ion-list *ngIf="history_list?.length == 0">
        <p class="textstyle">No Medication Appointment History Found</p>
      </ion-list>
      <ion-list *ngIf="history_list?.length > 0">
        <ion-item *ngFor="let video_consult_detail of history_list" no-lines>
          <ion-grid>
            <ion-row>
              <ion-col col-8 text-wrap>
                <h2>{{video_consult_detail.date | date: 'medium' }}</h2>
                <ion-list>
                  <p>{{video_consult_detail.complaint}}</p>
                  <p style="color: red">GH¢ {{video_consult_detail.price}}</p>
                </ion-list>

                <strong>
                  <p
                    *ngIf="video_consult_detail.status == 'Confirmed'; else confirmstatusfalse"
                  >
                    Confirmed
                  </p>
                </strong>
                <ng-template #confirmstatusfalse>
                  <br />
                  <strong>Not Confirmed</strong>
                </ng-template>
              </ion-col>
              <ion-col col-4 text-wrap>
                <button
                  ion-button
                  class="small_button"
                  color="green1"
                  round
                  type="submit"
                  (click)="medication_appointment_history_details(video_consult_detail)"
                  text-wrap
                >
                  Details
                </button>
                <br />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <!-- <ion-list *ngIf="person_details?.length > 0">
        <ion-item *ngFor="let patientdetails of person_details" no-lines>
          <ion-grid>
            <ion-row *ngIf="patientdetails.apt_type_id == 'MD' ">
              <ion-col col-8>
                <h2
                  *ngIf="patientdetails.confirm_status == true; else confirmstatusfalse1"
                >
                  {{patientdetails.created_at | date: 'medium'}}
                </h2>

                <ng-template #confirmstatusfalse1>
                  <strong
                    >{{patientdetails.created_at | date: 'medium' }}</strong
                  >
                </ng-template>

                <strong>
                  <p
                    *ngIf="patientdetails.confirm_status == true; else confirmstatusfalse"
                  >
                    Confirmed
                  </p></strong
                >
                <ng-template #confirmstatusfalse>
                  <br />
                  <strong>Not Confirmed</strong>
                </ng-template>
              </ion-col>
              <ion-col col-2>
                <button
                  ion-button
                  class="small_button"
                  color="green1"
                  round
                  type="submit"
                  (click)="medication_appointment_history_details(patientdetails)"
                >
                  Details</button
                ><br />

              
                <button
                  *ngIf="patientdetails.billing_info_bill_items_info_id && !patientdetails.paid"
                  ion-button
                  class="small_button"
                  color="blue"
                  round
                  type="submit"
                  (click)="bill(patientdetails)"
                >
                  Bill Info
                </button>
                <button
                  *ngIf="patientdetails.billing_info_bill_items_info_id && patientdetails.approval_status == false"
                  ion-button
                  class="medium_button"
                  color="deepash"
                  round
                  type="submit"
                  (click)="bill(patientdetails)"
                >
                  Rejected<br />Bill
                </button>
                <button
                  *ngIf="patientdetails.billing_info_bill_items_info_id && patientdetails.paid== true"
                  ion-button
                  class="small_button"
                  color="dullyellow"
                  round
                  type="submit"
                  (click)="bill(patientdetails)"
                >
                  Paid
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list> -->
    </ion-list>

    <ion-list *ngSwitchCase="'Medical'" overflow-scroll="true">
      <ion-list *ngIf="history_list2?.length == 0">
        <p class="textstyle">No Medical Appointment History Found</p>
      </ion-list>

      <ion-list *ngIf="history_list2?.length > 0">
        <ion-item *ngFor="let video_consult_detail of history_list2" no-lines>
          <ion-grid>
            <ion-row>
              <ion-col col-8 text-wrap>
                <h2>{{video_consult_detail.date | date: 'medium' }}</h2>
                <ion-list>
                  <p>{{video_consult_detail.complaint}}</p>
                  <p style="color: red">GH¢ {{video_consult_detail.price}}</p>
                </ion-list>

                <strong>
                  <p
                    *ngIf="video_consult_detail.status == 'Confirmed'; else confirmstatusfalse"
                  >
                    Confirmed
                  </p>
                </strong>
                <ng-template #confirmstatusfalse>
                  <br />
                  <strong>Not Confirmed</strong>
                </ng-template>
              </ion-col>
              <ion-col col-4 text-wrap>
                <button
                  ion-button
                  class="small_button"
                  color="green1"
                  round
                  type="submit"
                  (click)="medical_appointment_history_details(video_consult_detail)"
                  text-wrap
                >
                  Details
                </button>
                <br />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

      <!-- <ion-list *ngIf="person_details2?.length > 0">
        <ion-item *ngFor="let patientdetails of person_details2" no-lines>
          <ion-grid>
            <ion-row *ngIf="patientdetails.apt_type_id == 'MA' ">
              <ion-col col-8>
                <h2
                  *ngIf="patientdetails.confirm_status == true; else confirmstatusfalse1"
                >
                  {{patientdetails.confirmed_date | date: 'medium' }}
                </h2>

                <ng-template #confirmstatusfalse1>
                  <strong
                    >{{patientdetails.created_at | date: 'medium' }}</strong
                  >
                </ng-template>

                <strong>
                  <p
                    *ngIf="patientdetails.confirm_status == true; else confirmstatusfalse"
                  >
                    Confirmed
                  </p>
                </strong>
                <ng-template #confirmstatusfalse>
                  <br /><strong>Not Confirmed</strong>
                </ng-template>
              </ion-col>
              <ion-col col-2>
                <button
                  ion-button
                  class="small_button"
                  color="green1"
                  round
                  type="submit"
                  (click)="medical_appointment_history_details(patientdetails)"
                >
                  Details
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list> -->
    </ion-list>

    <ion-list *ngSwitchCase="'Lab'" overflow-scroll="true">
      <ion-list *ngIf="history_list3?.length == 0">
        <p class="textstyle">No Lab Appointment History Found</p>
      </ion-list>

      <ion-list *ngIf="history_list3?.length > 0">
        <ion-item *ngFor="let video_consult_detail of history_list3" no-lines>
          <ion-grid>
            <ion-row>
              <ion-col col-8 text-wrap>
                <h2>{{video_consult_detail.date | date: 'medium' }}</h2>
                <ion-list>
                  <p>{{video_consult_detail.complaint}}</p>
                  <p style="color: red">GH¢ {{video_consult_detail.price}}</p>
                </ion-list>

                <strong>
                  <p
                    *ngIf="video_consult_detail.status == 'Confirmed'; else confirmstatusfalse"
                  >
                    Confirmed
                  </p>
                </strong>
                <ng-template #confirmstatusfalse>
                  <br />
                  <strong>Not Confirmed</strong>
                </ng-template>
              </ion-col>
              <ion-col col-4 text-wrap>
                <button
                  ion-button
                  class="small_button"
                  color="green1"
                  round
                  type="submit"
                  (click)="lab_appointment_history_details(video_consult_detail)"
                  text-wrap
                >
                  Details
                </button>
                <br />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

      <!-- <ion-list *ngIf="person_details?.length > 0">
        <ion-item *ngFor="let patientdetails of person_details" no-lines>
          <ion-grid>
            <ion-row *ngIf="patientdetails.apt_type_id == 'LA' ">
              <ion-col col-8>
                <h2
                  *ngIf="patientdetails.confirm_status == true; else confirmstatusfalse1"
                >
                  {{patientdetails.confirmed_date | date: 'medium' }}
                </h2>

                <ng-template #confirmstatusfalse1>
                  <strong
                    >{{patientdetails.created_at | date: 'medium' }}</strong
                  >
                </ng-template>

                <strong>
                  <p
                    *ngIf="patientdetails.confirm_status == true; else confirmstatusfalse"
                  >
                    Confirmed
                  </p>
                </strong>
                <ng-template #confirmstatusfalse>
                  <br />
                  <strong>Not Confirmed</strong>
                </ng-template>
              </ion-col>
              <ion-col col-2>
                <button
                  ion-button
                  class="small_button"
                  color="green1"
                  round
                  type="submit"
                  (click)="lab_appointment_history_details(patientdetails)"
                >
                  Details
                </button>

                <br />

                <button
                  *ngIf="patientdetails.billing_info_bill_items_info_id && !patientdetails.paid"
                  ion-button
                  class="small_button"
                  color="blue"
                  round
                  type="submit"
                  (click)="bill(patientdetails)"
                >
                  Bill Info
                </button>
                <button
                  *ngIf="patientdetails.billing_info_bill_items_info_id && patientdetails.approval_status == false"
                  ion-button
                  class="medium_button deepash1"
                  color="deepash"
                  round
                  type="submit"
                  (click)="bill(patientdetails)"
                >
                  Rejected<br />Bill
                </button>

                <button
                  *ngIf="patientdetails.billing_info_bill_items_info_id && patientdetails.paid== true"
                  ion-button
                  class="small_button"
                  color="dullyellow"
                  round
                  type="submit"
                  (click)="bill(patientdetails)"
                >
                  Paid
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list> -->
    </ion-list>
  </div>
</ion-content>
