<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center">Lab</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="direct_service_row2">
    <div class="c3">
      <ion-row>
        <ion-col col-12>
          <div class="align-col">
            <h2 class="fboldness">Request for Labs</h2>
            <p style="color: white" text-wrap>
              Let Ghinger take your lab samples at your own convenience
            </p>
            <button
              ion-button
              color="primary"
              icon-end
              (tap)="openNewAppointment()"
            >
              New Lab Request <ion-icon name="add"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="aliText">
    <ion-item no-lines>
      <h3 class="BigText">Recent Appointments</h3>
      <p>View Details and Bill of appointments</p>
    </ion-item>
  </div>

  <ion-list *ngIf="history_list?.length > 0">
    <ion-item *ngFor="let video_consult_detail of history_list" no-lines>
      <ion-grid>
        <ion-row>
          <ion-col col-8 text-wrap>
            <h2>{{video_consult_detail.date | date: 'medium' }}</h2>
            <ion-list>
              <p>{{video_consult_detail.complaint}}</p>
              <p style="color: red">GH¢ {{video_consult_detail.price}}</p>
            </ion-list>

            <strong>
              <p
                *ngIf="video_consult_detail.status == 'Confirmed'; else confirmstatusfalse"
              >
                Confirmed
              </p>
            </strong>
            <ng-template #confirmstatusfalse>
              <br />
              <strong>Not Confirmed</strong>
            </ng-template>
          </ion-col>
          <ion-col col-4 text-wrap>
            <button
              ion-button
              class="small_button"
              color="green1"
              round
              type="submit"
              (click)="lab_appointment_history_details(video_consult_detail.id)"
              text-wrap
            >
              Details
            </button>
            <br />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!--  
  <ion-list *ngIf="person_details?.length > 0">
    <ion-item *ngFor="let video_consult_detail of person_details" no-lines>
      <ion-grid>
        <ion-row *ngIf="video_consult_detail.apt_type_id == 'LA' ">
          <ion-col col-8 text-wrap>
            <h2>{{video_consult_detail.created_at | date: 'medium' }}</h2>
            <ion-list>
              <p>{{video_consult_detail.complaint}}</p>
              <p style="color: red">
                GH¢ {{video_consult_detail.appointment_type.price}}
              </p>
            </ion-list>

            <strong>
              <p
                *ngIf="video_consult_detail.confirm_status == 'Confirmed'; else confirmstatusfalse"
              >
                Confirmed
              </p>
            </strong>
            <ng-template #confirmstatusfalse>
              <br />
              <strong>Not Confirmed</strong>
            </ng-template>
          </ion-col>
          <ion-col col-4 text-wrap>
            <button
              ion-button
              class="small_button"
              color="green1"
              round
              type="submit"
              (click)="lab_appointment_history_details(video_consult_detail.id)"
              text-wrap
            >
              Details
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list> -->
  <!-- </ion-card> -->

  <!-- <ion-card>
    <ion-list *ngIf="person_details?.length > 0">
      <ion-item *ngFor="let patientdetails of person_details">
        <ion-grid>
          <ion-row>
            <ion-col col-8>
              <h2
                *ngIf="patientdetails.confirm_status == true; else confirmstatusfalse1"
              >
                {{patientdetails.confirmed_date | date: 'medium' }}
              </h2>

              <ng-template #confirmstatusfalse1>
                <strong>{{patientdetails.created_at | date: 'medium' }}</strong>
              </ng-template>

              <strong>
                <p
                  *ngIf="patientdetails.confirm_status == true; else confirmstatusfalse"
                >
                  Confirmed
                </p>
              </strong>
              <ng-template #confirmstatusfalse>
                <br />
                <strong>Not Confirmed</strong>
              </ng-template>
            </ion-col>
            <ion-col col-2>
              <button
                ion-button
                class="small_button"
                color="green1"
                round
                type="submit"
                (click)="lab_appointment_history_details(patientdetails)"
              >
                Details
              </button>

              <br />
        

              <button
                *ngIf="patientdetails.billing_info_bill_items_info_id && !patientdetails.paid"
                ion-button
                class="small_button"
                color="blue"
                round
                type="submit"
                (click)="bill(patientdetails)"
              >
                Bill Info
              </button>

              <button
                *ngIf="patientdetails.billing_info_bill_items_info_id && patientdetails.approval_status == false"
                ion-button
                class="medium_button"
                color="deepash"
                round
                type="submit"
                (click)="bill(patientdetails)"
              >
                Rejected<br />Bill
              </button>

              <button
                *ngIf="patientdetails.billing_info_bill_items_info_id && patientdetails.paid== true"
                ion-button
                class="small_button"
                color="dullyellow"
                round
                type="submit"
                (click)="bill(patientdetails)"
              >
                Paid
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card> -->

  <ion-list *ngIf="no_appointments == 'no' ">
    <ion-item no-lines>
      <p>No Appointments made</p>
    </ion-item>
  </ion-list>
</ion-content>
