page-signup {
  #iconeye {
    color: white;
  }

  ion-icon {
    color: #f1f3ee !important;
  }
  .pad {
    text-align: center;
  }

  .logo_position {
    padding-top: 5%;
    height: 13%;
    width: 20%;
  }

  // .item-block {
  //     margin: 0;
  //     padding: 0;
  //     text-align: initial;
  //     display: -webkit-box;
  //     display: -webkit-flex;
  //     display: -ms-flexbox;
  //     display: flex;
  //     overflow: hidden;
  //     -webkit-box-align: center;
  //     -webkit-align-items: center;
  //     -ms-flex-align: center;
  //     align-items: center;
  //     -webkit-box-pack: justify;
  //     -webkit-justify-content: space-between;
  //     -ms-flex-pack: justify;
  //     justify-content: space-between;
  //     width: 80%;
  //     min-height: 4.4rem;
  //     border: 1;
  //     font-weight: normal;
  //     line-height: normal;
  //     text-decoration: none;
  //     color: inherit;
  //     text-align:center;
  //     margin-left: 10%;
  // }

  //   ion-input,
  //   ion-textarea {
  //     position: relative;
  //     display: block;
  //     -webkit-box-flex: 1;
  //     -webkit-flex: 1;
  //     -ms-flex: 1;
  //     flex: 1;
  //     width: 100%;
  //     // border: 2px solid #000000;
  //     border-radius: 6px;
  //     background-color: #fff;
  //   }

  .item-md {
    // padding-left: 16px;
    // padding-right: 0;
    // position: relative;
    // font-size: 1.6rem;
    // font-weight: normal;
    // text-transform: none;
    // color: #000;
    // // background-color: transparent !important;
    // -webkit-box-shadow: none;
    // box-shadow: none;
    // -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    // transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    // width: 92% !important;
    height: 100%;
    // border-radius: 6px !important;
    background-color: transparent !important;
    // margin-left: 4% !important;
  }

  //   .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus)
  //     .item-inner {
  //     border-bottom-color: rgba(223, 13, 13, 0) !important;
  //     box-shadow: inset 0 -1px 0 0 #0000 !important;
  //   }

  //   .item-md.item-block .item-inner {
  //     padding-right: 8px;
  //     border-bottom: 1px solid transparent !important;
  //   }

  .button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    // width: 97% !important;
    // height: 100%;
    // border: 2px solid #000000 !important;
    // border-radius: 6px !important;
    // background-color: #fff !important;
    // margin-left: 3% !important;
  }

  ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 100% !important;
  }

  .select-text {
    overflow: visible !important;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 21px;
    font-size: inherit;
    /* text-overflow: inherit; */
    white-space: nowrap;
    /* margin-right: 100%; */
  }

  .select-md {
    padding: 13px 52px 13px 16px !important;
    color: black !important;
    /* margin-right: 100%; */
  }

  .select-md .select-placeholder {
    color: black !important;
    z-index: 122 !important;
  }

  .datetime-md .datetime-placeholder {
    color: black !important;
    z-index: 122 !important;
  }

  .label-md,
  .item-datetime .label-md {
    color: black !important;
    z-index: 122 !important;
  }

  .label-md {
    margin: 12px 129px 19px 0px !important;
  }

  //   .item-inner {
  //     margin: 0;
  //     padding: 0;
  //     display: -webkit-box;
  //     display: -webkit-flex;
  //     display: -ms-flexbox;
  //     display: flex;
  //     overflow: visible !important;
  //     -webkit-box-flex: 1;
  //     -webkit-flex: 1;
  //     -ms-flex: 1;
  //     flex: 1;
  //     -webkit-box-orient: inherit;
  //     -webkit-box-direction: inherit;
  //     -webkit-flex-direction: inherit;
  //     -ms-flex-direction: inherit;
  //     flex-direction: inherit;
  //     -webkit-box-align: inherit;
  //     -webkit-align-items: inherit;
  //     -ms-flex-align: inherit;
  //     align-items: inherit;
  //     -webkit-align-self: stretch;
  //     -ms-flex-item-align: stretch;
  //     align-self: stretch;
  //     min-height: inherit;
  //     border: 0;
  //   }

  //   .input-wrapper {
  //     display: -webkit-box;
  //     display: -webkit-flex;
  //     display: -ms-flexbox;
  //     display: flex;
  //     overflow: visible !important;
  //     -webkit-box-flex: 1;
  //     -webkit-flex: 1;
  //     -ms-flex: 1;
  //     flex: 1;
  //     -webkit-box-orient: inherit;
  //     -webkit-box-direction: inherit;
  //     -webkit-flex-direction: inherit;
  //     -ms-flex-direction: inherit;
  //     flex-direction: inherit;
  //     -webkit-box-align: inherit;
  //     -webkit-align-items: inherit;
  //     -ms-flex-align: inherit;
  //     align-items: inherit;
  //     -webkit-align-self: stretch;
  //     -ms-flex-item-align: stretch;
  //     align-self: stretch;
  //     text-overflow: ellipsis;
  //   }

  //   ion-label {
  //     margin: 0;
  //     display: block;
  //     overflow: visible !important;
  //     -webkit-box-flex: 1;
  //     -webkit-flex: 1;
  //     -ms-flex: 1;
  //     flex: 1;
  //     font-size: inherit;
  //     text-overflow: ellipsis;
  //     white-space: nowrap;
  //     /* width: 50%; */
  //   }

  .background {
    background-image: url("../assets/icon/green_background_image.jpg");

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align: center;
  }

  ion-card.card {
    box-shadow: none;
    background: none;
    border-radius: 5px;
    padding-left: 10px;
  }

  ion-icon {
    color: #789527;
  }

  //     @media (min-width: 320px) and (max-width: 600px) {

  //   .row{
  //         padding-top: 0%;
  //          text-align: center;
  //           }

  //     .card {
  //         margin: 0 5px;
  //         width: calc(100% - 0px);
  //         padding: 14px;
  //         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  //         border-radius: 4px;

  //     }

  // }

  @media (min-height: 320px) and (max-height: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .row {
      padding-top: 0%;
      text-align: center;
    }
  }

  @media (max-height: 640px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(110% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (min-height: 360px) and (orientation: portrait) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(110% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (min-height: 320px) and (orientation: portrait) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(110% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (min-height: 480px) and (orientation: portrait) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(110% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (min-height: 540px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(105% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (min-height: 540px) and (min-width: 320px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(107% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (max-height: 779px) and (min-width: 203px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(115% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (max-height: 1050px) and (min-width: 203px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(100% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (max-height: 831px) and (min-width: 203px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(110% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (max-height: 752px) and (min-width: 203px) {
    .padd {
      padding-top: 5%;
    }
  }

  @media (max-height: 600px) {
    .row {
      padding-top: 7%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(100% - 0px);
      height: calc(97% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      text-align: center;
    }
  }

  @media (min-width: 411px) {
    .logo_position {
      padding-top: 5%;
      height: 17%;
      width: 20%;
    }
  }
}
