<ion-header>
  <ion-navbar>
    <ion-title>Service Providers</ion-title>
    <ion-buttons end class="margin" tappable (tap)="home()">
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true" class="background">
  <p>
    <b style="color: black"
      >Hospitals Available around <span style="color: red"> {{sub_name}}</span>
    </b>
  </p>

  <ion-item *ngIf="from_menu?.length == 0">
    <p class="center">
      <b style="color: black">No Medical Facilities Available </b>
    </p>
  </ion-item>

  <!-- <ion-card> -->
  <div class="direct_service_row">
    <div class="column3" *ngFor="let location of from_menu">
      <div id="round">
        <img
          src="assets/icon/hospital.jpeg"
          class="img_size"
          class="round_image"
        />
      </div>
      <div class="border">
        <figcaption>
          <b id="txtcolor" text-wrap>{{ location.provider_name}}</b>
          <!-- <h4 text-wrap><b>{{ location.suburb.name}}</b></h4> -->
        </figcaption>
        <br />
        <button ion-button color="green1" (tap)="book(location.id)" text-wrap>
          Book Appointment
        </button>
      </div>
    </div>
  </div>
  <!-- </ion-card> -->

  <!-- <ion-row>
    <ion-col col-6 *ngFor="let location of from_menu">
      <ion-item>
        <img src="assets/icon/hospital.jpeg" />

        <br />
        <h4 text-wrap><b>{{ location.provider_name}}</b></h4>
       <h4 text-wrap><b>{{ location.suburb_name}}</b></h4> 
        <br />
        <button ion-button color="green1" (tap)="book(location)">
          Book Appointment
        </button>
      </ion-item>
    </ion-col>
  </ion-row>  -->
</ion-content>
