page-menu {
  ion-slides {
    display: block;
    width: 100%;
    height: 50%;
  }

  .slide_card {
    margin-top: 0px;
    margin-bottom: -20px;
  }

  .row-up {
    margin-top: -3px;
  }

  .side-image {
    width: 100%;
    margin-top: 0%;
  }

  .background {
    // background-image: -webkit-linear-gradient(
    //   0deg,
    //   #5dba4794 70%,
    //   #5dba4794 30%
    // );

    // background: linear-gradient(0deg, #5dba47, #5dba47),
    //   url(../assets/icon/G8.png);
    // background-size: cover;
    // background-color: #5dba47;
    // height: 195px;
    // color: white;

    background: linear-gradient(0deg, #5cba47, #55a7428c),
      url(/assets/icon/G8.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  .toolbar-background-ios {
    background: transparent !important;
  }
  .toolbar-background-md {
    border-color: transparent;
    background: transparent;
  }

  #iconStyle {
    font-size: 2.5em;
    margin: 10px;
  }

  .activi {
    margin: 20px;
  }
  .amount_color {
    color: green !important;
    font-weight: 900;
    margin: 13px;
  }

  .button.customBtn {
    width: 100%;
    text-align: center;
  }

  .buttonsStyle {
    margin-bottom: 20%;
  }

  .amount_color2 {
    color: red !important;
    font-weight: 900;
    margin: 13px;
  }

  //   .card-md {
  //     border-radius: 12px !important;
  //     margin-top: 20%;
  //   }

  .card-ios {
    border-radius: 12px !important;
  }

  #currency {
    font-size: 30px;
  }

  .alignText {
    text-align: left;
  }
  .align-col {
    text-align: left;
    line-height: 1;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .align-img {
    margin-left: 30%;
    margin-top: 20%;
    // width: 20%;

    height: 25px;
    width: 25px;
    //   background-color: #bbb;
    border-radius: 50%;
    border-color: #000;
  }

  .fboldness {
    font-weight: 900;
    color: rgb(255, 255, 255);
  }

  .item-md .item-button {
    height: 33px;
    font-size: 1.2rem;
    padding: 17px !important;
    text-transform: none !important;
  }

  .imgclass {
    width: 50%;
    height: 50%;
    margin: 20px;
  }

  .cardtext {
    margin: 21px;
    color: white;
  }

  .scroll-content {
    margin-bottom: 0px !important;
  }

  .item-ios,
  .item-md {
    color: #000;
    background-color: #fff;
  }

  //   .card-ios,
  //   .card-md {
  //     background: #000;
  //   }

  //   .content-ios,
  //   .content-md {
  //     color: #1c1c1c;
  //     background-color: white;
  //   }

  ion-icon {
    display: inline-block;
    font-size: 4.2em;
    color: rgb(255, 255, 255);
  }

  #icon-color {
    color: wheat;
  }

  .card-ios p {
    color: white;
  }

  .card-md p {
    color: white;
  }

  sub,
  sup {
    position: relative;
    font-size: 1.9rem !important;
    line-height: 0;
    vertical-align: baseline;
  }

  .ion-page {
    background: #1c1c1c !important;
  }

  .custom-shape-divider-top-1615988063 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -5%;
    // margin-top: -15%;
  }

  .custom-shape-divider-top-1615988063 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-top-1615988063 .shape-fill {
    fill: #585a58;
  }

  #wave {
    position: relative;
    height: 70px;
    width: 600px;
    background: #5dba47;
  }

  #wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 340px;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
  }

  #wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 300px;
    height: 70px;
    background-color: #e0efe3;
    left: 0;
    top: 27px;
  }

  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-top-1615988063 svg {
      width: calc(140% + 1.3px);
      height: 60px;
    }
  }

  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: url();
    background-repeat: repeat-x;
  }

  //   FOR GRID
  //   .direct_service_row {
  //     width: 100%;
  //     display: flex;
  //     flex-wrap: wrap;
  //   }

  .column3 {
    //background-color: #5dba47;
    width: 31%;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-left: 1%;
    margin-bottom: 3%;
    // border-right: 1px solid #ece6e6;
  }

  .img_size {
    width: 35%;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: -16%;
  }

  .round_image {
    width: 50%;
    margin-top: 26%;

    align-items: center;
    margin-left: 29%;
  }

  #txtcolor {
    font-size: 10.8px;
  }

  .headerDivider {
    border-left: 1px solid #ece6e6;
    border-right: 1px solid #ece6e6;
    height: 80px;
    /* position: absolute; */
    right: 249px;
    /* top: 30px; */
    margin-top: 8%;
  }

  .BigText {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.1px;
    line-height: 30px;
    margin-bottom: 2px;
    margin-top: 0.5rem;
  }

  .greetText {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: -0.1px;
    line-height: 30px;
    margin-bottom: 2px;
    margin-top: 0.5rem;
  }

  .aliText {
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .aliText2 {
    margin-top: 5%;
    margin-bottom: 0%;
  }

  .aliText3 {
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .direct_service_row {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    width: 100%;
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .float {
    margin-right: 160%;
  }

  .direct_service_row2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    width: 100%;
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0%;
    margin-bottom: 10%;
  }

  .direct_service_row3 {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 15px;
    padding-top: 10px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    position: relative;
    margin-bottom: 20%;
  }

  .round_image2 {
    width: 40%;
    margin-top: 21%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0%;
  }

  .c3 {
    width: 28%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-bottom: 3%;
    height: 110px;
    background-image: linear-gradient(
      to right top,
      #ff0a0a,
      #e00404,
      #4a4a48
    ) !important;
    text-align: center;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 3%;
  }

  .column4 {
    // background-color: #5dba47;
    width: 28%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 110px;
    // background-color: white;
    background-image: linear-gradient(
      to right top,
      #1010db,
      rgb(116, 114, 240),
      #252953
    ) !important;
  }

  .column5 {
    // background-color: #5dba47;
    width: 28%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 110px;
    // background-color: white;
    background-image: linear-gradient(
      to right top,
      #69f781,
      #091808,
      #13ce13
    ) !important;
  }

  .chronic {
    // background-color: #5dba47;
    width: 28%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 110px;
    background-image: linear-gradient(
      to right top,
      #f79669,
      #091808,
      #f5610b
    ) !important;
  }

  .elderly {
    // background-color: #5dba47;
    width: 28%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 110px;
    background-image: linear-gradient(
      to right top,
      #f7d669,
      #091808,
      #9c9200
    ) !important;
  }

  .column6 {
    // background-color: #5dba47;
    width: 28%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 110px;
    // background-color: white;
    background-image: linear-gradient(
      to right top,
      #85410a,
      #85410a,
      #61a0e8
    ) !important;
  }

  .column7 {
    // background-color: #5dba47;
    width: 28%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 110px;
    // background-color: white;
    background-image: linear-gradient(
      to right top,
      #2c1f14,
      #2c1f14,
      #6d6d6d
    ) !important;
  }

  .column8 {
    // background-color: #5dba47;
    width: 28%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 110px;
    // background-color: white;
    background-image: linear-gradient(
      to right top,
      #f00897,
      #f00897,
      #6d6d6d
    ) !important;
  }

  .column9 {
    // background-color: #5dba47;
    width: 28%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 110px;
    // background-color: white;
    background-image: linear-gradient(
      to right top,
      #078a91,
      #078a91,
      #078a91
    ) !important;
  }

  .cx {
    // background-color: #5dba47;
    // width: 100%;
    flex: 1;
    max-width: 165px;
    min-width: 100px;
    // overflow-x: scroll;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    height: 100%;
    text-align: center;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 110px;
    // background-color: white;
    background-image: linear-gradient(
      to right top,
      #078a91,
      #078a91,
      #078a91
    ) !important;
  }

  @media (min-width: 600px) {
    .c3 {
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-bottom: 3%;
      height: 140px;
      background-image: linear-gradient(
        to right top,
        #ff0a0a,
        #e00404,
        #4a4a48
      ) !important;
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
    }

    .column4 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 140px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #1010db,
        rgb(116, 114, 240),
        #252953
      ) !important;
    }

    .column5 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 140px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #69f781,
        #091808,
        #13ce13
      ) !important;
    }

    .chronic {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 140px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #f79669,
        #091808,
        #f5610b
      ) !important;
    }

    .elderly {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 140px;
      background-image: linear-gradient(
        to right top,
        #f7d669,
        #091808,
        #9c9200
      ) !important;
    }

    .column6 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 140px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #85410a,
        #85410a,
        #61a0e8
      ) !important;
    }

    .column7 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 140px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #2c1f14,
        #2c1f14,
        #6d6d6d
      ) !important;
    }

    .column8 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 140px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #f00897,
        #f00897,
        #6d6d6d
      ) !important;
    }

    .column9 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 140px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #078a91,
        #078a91,
        #078a91
      ) !important;
    }

    .cx {
      // background-color: #5dba47;
      // width: 100%;
      flex: 1;
      max-width: 165px;
      min-width: 140px;
      // overflow-x: scroll;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      overflow: hidden;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      cursor: pointer;
      height: 100%;
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 140px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #078a91,
        #078a91,
        #078a91
      ) !important;
    }
  }

  @media (min-width: 750px) {
    .c3 {
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-bottom: 3%;
      height: 170px;
      background-image: linear-gradient(
        to right top,
        #ff0a0a,
        #e00404,
        #4a4a48
      ) !important;
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
    }

    .column4 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 170px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #1010db,
        rgb(116, 114, 240),
        #252953
      ) !important;
    }

    .column5 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 170px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #69f781,
        #091808,
        #13ce13
      ) !important;
    }

    .chronic {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 170px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #f7a969,
        #091808,
        #f34e01
      ) !important;
    }

    .elderly {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 170px;
      background-image: linear-gradient(
        to right top,
        #f7d669,
        #091808,
        #9c9200
      ) !important;
    }

    .column6 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 170px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #85410a,
        #85410a,
        #61a0e8
      ) !important;
    }

    .column7 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 170px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #2c1f14,
        #2c1f14,
        #6d6d6d
      ) !important;
    }

    .column8 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 170px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #f00897,
        #f00897,
        #6d6d6d
      ) !important;
    }

    .column9 {
      // background-color: #5dba47;
      width: 28%;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 170px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #078a91,
        #078a91,
        #078a91
      ) !important;
    }

    .cx {
      // background-color: #5dba47;
      // width: 100%;
      flex: 1;
      max-width: 165px;
      min-width: 140px;
      // overflow-x: scroll;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      overflow: hidden;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      cursor: pointer;
      height: 100%;
      text-align: center;
      border-radius: 8px;
      margin-left: 3%;
      margin-bottom: 3%;
      height: 170px;
      // background-color: white;
      background-image: linear-gradient(
        to right top,
        #078a91,
        #078a91,
        #078a91
      ) !important;
    }
  }
  .gsYlqHuubB3bKiaXdybMG {
    position: relative;
  }

  ._3vHydKFEGz4zvVBBrGUiio {
    position: relative;
  }

  ._23pgZCdAxmaAdiofy8ZEdu {
    background-color: #000;
    font-family: cerebri;
    min-height: 100vh;
    padding: 24px 0 50px;
    /* background-image: -webkit-linear-gradient(30deg, #f6f6ff 70%, #c6e5e6 30%); */
  }

  ._3NHEitRCLFV_aV5FS2ttyK {
    border-radius: 10px;
    padding-top: 24px;
    position: relative;
    z-index: 2;
    -webkit-transform: translateZ(0);
  }

  .rTC5JFwxEEFySWGhYljS {
    display: block;
    overflow-x: hidden;
    padding: 0 18px;
    width: 100%;
  }

  ._31DstS8SKRXReKMgFwwSm0 {
    margin-right: 0;
  }

  ._3L36rZQ3IAsgRZIYeT1dbQ {
    padding-bottom: 11px;
  }

  ._3L36rZQ3IAsgRZIYeT1dbQ {
    position: relative;
  }

  .jrVzMjyCIqxWd3hcEGDuB {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  ._2ivOd4Y1K0C1cEIZrK9_FN {
    color: #fff;
    font-family: cerebri;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.1px;
    line-height: 30px;
    margin-bottom: 2px;
    margin-top: 0.5rem;
  }

  .S7VLjj-szxqXjf5Ap4Tjs {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100px;
  }

  ._2erzyJAqHNl_u5ej3l0v8g {
    color: #ffff;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 1px;
    line-height: 19px;
    letter-spacing: -0.1px;
  }

  ._3zKcaWhZ7Y3rSb7vNnKseg {
    justify-content: space-between;
    margin: 0 -18px;
    padding-bottom: 8px;
    width: auto;
  }

  ._3hOTS59vmvKeM_M4MmE19Q {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 15px;
    padding-top: 10px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    position: relative;
  }

  ._2PZDk-AzrpGB2xvn4-tKhn:first-of-type {
    margin-left: 14px;
  }

  ._2PZDk-AzrpGB2xvn4-tKhn {
    margin-right: 14px;
  }

  ._2t1yMKo-qhINm7tWYfcGGg {
    flex: 1;
    max-width: 165px;
    min-width: 137px;
  }

  ._3yEJGdKwGboMQH4nTumQvk {
    font-family: cerebri, Helvetica, sans-serif;
    position: relative;
    background-color: transparent;
    background-clip: content-box;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    height: 100%;
  }

  ._1lesImzbM1n7vM34r-I6Fz {
    height: 195px;
    border-radius: 0.6rem;
    background-clip: content-box;
    background: #64f6ff;
    background-color: #eaebfa;
    display: block;
    padding-top: 118.18182%;
    position: relative;
    overflow: hidden;
  }

  ._23q9pGXd0r6H_hVobAqktx {
    border-radius: 0.6rem;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 1;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.925));
  }

  .fcxskIpxyAJZ7IB0x0_Dy {
    -webkit-animation: _2lQeo9EzM_czE3xNXS9h47 0.5s ease-in-out forwards;
    animation: _2lQeo9EzM_czE3xNXS9h47 0.5s ease-in-out forwards;
    // opacity: 0;
  }

  ._2cDIghBZTqp8rBDnylDMR0 {
    object-fit: cover;
  }

  ._1LFprSjZw0gn6LQn4Gl-Nb {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }

  ._3mtcb48FcTN_lCYFUo8sv_ {
    z-index: 2;
    position: absolute;
    top: 0.5rem;
    right: 5px;
  }

  ._1Vx1MsN7oW62rZaRzXTdpo {
    z-index: 2;
    color: #ffff;
    font-family: system-ui, cerebri, serif;
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: -0.28px;
    line-height: 1.8rem;
    min-width: 4rem;
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0.5rem;
  }

  #wave {
    position: relative;
    height: 61px;
    width: 400px;
    background: linear-gradient(0deg, #5cba47, #5cba47);
    top: -44px;
  }

  #wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 340px;
    height: 39px;
    background-color: white;
    right: -76px;
    top: 46px;
  }

  #wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 227px;
    height: 61px;
    background: linear-gradient(0deg, #5cba47, #5cba47);
    left: -37px;
    top: 18px;
  }

  .home_card_row {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0%;
    margin-bottom: 5%;
  }

  .home_card_row_col {
    width: 95%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-top: 5%;
    background-image: linear-gradient(
      to right top,
      #079186,
      #079191,
      #4a4a48
    ) !important;
    text-align: center;
    border-radius: 8px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .home_card_row_col2 {
    width: 95%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-top: 5%;
    // background-image: linear-gradient(
    //   to right top,
    //   #179107,
    //   #079125,
    //   #4a4a48
    // ) !important;
    background: linear-gradient(0deg, #5cba47, #55a7428c),
      url(/assets/icon/G8.png);
    text-align: center;
    border-radius: 8px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
